<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>

<main>
  <!--diff: router outlet -->
  <router-outlet></router-outlet><!--this makes the links work-->
</main>
<br><br>

<h1>
   {{ title }} this is app.component.html it is on every page except index
 </h1>

 <ul>
   <li>Create new component for Games Page - to show on Home Menu.</li>
   <li>Implement google sign on</li>
   <li>Finish articulate welcome animation & Safety test</li>
   <li>Finish Design</li>
   <li>Finish Poster</li>
   <li>Do Report</li>
   <li>anything else?</li>
   </ul>
