<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Special Tech Games</title>
<link href="css/simpleGridTemplate.css" rel="stylesheet" type="text/css">
<link href="style.css" rel="stylesheet" type="text/css">
</head>



  
  <!-- Hero Section -->
  <section class="intro">
    <div class="column">
      <h3>HOME</h3>
      <img src="images/profile.png" alt="" class="profile"> </div>
    <div class="column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad lla </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </p>
    </div>
  </section>
  <!-- Stats Gallery Section -->
  <div class="gallery">
    <div class="thumbnail"> <a href="words.html"><img src="images/bkg_06.jpg" alt="" width="2000" class="cards"/></a>
		<a href="words.html"><h4>WORD GAMES</h4></a>
      <p class="text_column">Lorem ipsum dolor sit amet, consectetur adipisicing elit, se magna aliqua.
        </p>
    </div>
    
    <div class="thumbnail"> <a href="maths.html"><img src="images/bkg_06.jpg" alt="" width="2000" class="cards"/></a>
      <a href="maths.html"></a><h4>MATHS GAMES</h4>
      <p class="text_column">Lorem ipsum dolor sit amet, consecunt ut labore et dolore magna aliqua.</p>
    </div>
  
  </div>
  <div class="gallery">
	  <h2>FAVORITES THIS WEEK</h2>
    <div class="thumbnail"> <a href="#"><img src="images/bkg_06.jpg" alt="" width="2000" class="cards"/></a>
      <h4>TITLE</h4>
      <p class="tag">HTML, CSS, JS, WordPress</p>
      <p class="text_column">Lorem ipsum dolor sit amet, consectetur mpor inci labore et dolore magna aliqua.</p>
    </div>
    <div class="thumbnail"> <a href="#"><img src="images/bkg_06.jpg" alt="" width="2000" class="cards"/></a>
      <h4>TITLE</h4>
      <p class="tag">HTML, CSS, JS, WordPress</p>
      <p class="text_column">Lorem ipsum dolor sit amet, consemod temabore et dolore magna aliqua.</p>
    </div>

  <!-- Footer Section -->
  <footer id="contact">
    <p class="hero_header">GET IN TOUCH WITH ME</p>
	  <a href="help.html"><div class="button">HELP</div></a>
  </footer>
<!-- Copyrights Section -->
  <div class="copyright">&copy;2020 - SPECIAL TECH GAMES</div>
</div>
<!-- Main Container Ends




</html>
